/*
 
created by Karim Coda copyright-2018-coda... 
Karim Coda social media
Like My Page on Facebook
https://www.facebook.com/karimcoda999/
Follow My Account on Facebook
https://www.facebook.com/karim.coda99
Follow My Account on instagram
https://www.instagram.com/karimcoda/
Follow My Account on Github
https://github.com/karimcoda
Follow My Account on Codepen
https://codepen.io/karim-coda/
 
*/
body{
	margin: 0px;
	height: 100vh;
	display: grid;
	place-items: center;
}
.cat{
	position: relative;
	height: 195px;
	width: 150px;
	background-image: url(https://drive.google.com/uc?id=1lR_3qW-fj20TGTsEaMNqCEVdqWMrCF7Z);
	background-position: -5px -45px;
	border: 1px solid;
}
.cat::before{
	--animation-name: x-ray;
	content: '' ;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: inherit;
	background-position: -145px -45px;
	transform: scaleX(-1);
	clip-path: polygon(0 0, 100% 0, 100% 50px, 0 50px);
}
.cat::after{
	--animation-name: x-ray-indicator;
	content: '' ;
	position: absolute;
	left: -20px;
	height: 50px;
	width: 190px;
	border: 0 solid;
	border-left-width: 5px;
	border-right-width: 5px;
	box-sizing: border-box;
}
.cat::before,
.cat::after{
	animation: var(--animation-name) 2s linear infinite alternate;
}


@keyframes x-ray{
	100%{
		clip-path: polygon(0 calc(100% - 50px), 100% calc(100% - 50px), 100% 100%, 0 100%);
	}
}
@keyframes x-ray-indicator{
	100%{
		transform: translateY(145px);
	}
}
